{% extends 'base.html.twig' %}

{% block body %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Wish List</h2>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-md-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">
                            {% if products %}
                                (<strong id="cantProd">{{products|length}}</strong>) items
                            {% else %}
                                (<strong id="cantProd">0</strong>) items
                            {% endif %}
                        </span>
                        <h5>{{ user.name }}'s wishlist</h5>
                    </div>

                    {% if products %}
                        {% for item in products %}
                            <div id="pr_{{item.id}}" class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">
                                        <tbody>
                                            <tr>
                                                <td width="90">
                                                    <div class="cart-product-imitation">
                                                        <img width="90px" src="{{item.image}}">
                                                    </div>
                                                </td>
                                                <td class="desc">
                                                    <h3>
                                                        <a href="#" class="text-navy">
                                                            {{ item.name }}
                                                        </a>
                                                    </h3>
                                                    <p class="small">
                                                        <img src="{{item.brand}}">
                                                    </p>
                                                    <p class="small m-b-none">
                                                        <b> Description: </b>
                                                    <ul>
                                                        {% for des in item.description %}
                                                            <li> {{ des }} </li>
                                                            {% endfor %}
                                                    </ul>
                                                    </p>

                                                    <div class="m-t-sm">
                                                        <a onclick="removeProducts({{item.id}}, {{user.id}});" class="btn btn-xs btn-outline btn-danger"><i class="fa fa-trash"></i> Remove item</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h4>
                                                        € {{ item.price }}
                                                    </h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        {% endfor %}
                    {% endif %}

                </div>

            </div>
            
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/plugins/toastr/toastr.min.js') }}"></script>
    <script type="text/javascript">

                                            function removeProducts(id, userId)
                                            {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "{{ path('removeProducts') }}",
                                                    dataType: 'json',
                                                    async: true,
                                                    data: {
                                                        productId: id,
                                                        userId: userId
                                                    },
                                                    success: function (result)
                                                    {
                                                        $("#pr_" + id).remove();
                                                        $("#cantProd").text($("#cantProd").text() - 1);
                                                        console.log($("#cantProd").text());
                                                        if ($("#cantProd").text() == 0)
                                                        {
                                                            $("#shareButton").prop('disabled', true);
                                                        }
                                                        toastr.success('', 'Product removed from wishlist!');
                                                    }

                                                });
                                            }

                                            function sendWishList()
                                            {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "{{ path('shareWishList') }}",
                                                    dataType: 'json',
                                                    async: true,
                                                    data: {
                                                        email: $("#emailWish").val()
                                                    },
                                                    success: function (result)
                                                    {
                                                        toastr.success('', 'Wishlist sended!');
                                                    }

                                                });
                                            }


    </script>
{% endblock %}
